body{
background-image: url(https://images-cdn.welcomesoftware.com/Zz0wZGI4ZTI2NjhlNGQxMWViODVlN2QzNTI0ZjhkZTQyOA==);
background-size: cover;
background-repeat: no-repeat;
}
header{
    background-color: rgb(0, 139, 139);
}